<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="~{/fragments/hospital/hospital-header::hospital-header}"></th:block>
    <th:block layout:fragment="hospital_custom_header"></th:block>
</head>
<body>
<div class="container">
    <div th:replace="~{/fragments/hospital/hospital-navbar :: hospital-navbar}"></div>
    <th:block layout:fragment="hospital_content"></th:block>
    <div th:replace="~{/fragments/hospital/hospital-footer :: hospital-footer}"></div>
</div>
<th:block layout:fragment="hospital_custom_js"></th:block>
</body>
</html>