<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="hospital-header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon-96x96.png">
    <link rel="stylesheet" href="/css/hospital-shared.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/38adf5dcd0.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
</body>
</html>