<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header th:fragment="hospital-navbar"
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-7 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="hospital-logo" src="/img/logo4.png" alt="EUNGAE LOGO">
            </a>
        </div>

        <nav>
            <div class="dropdown">
                <button class="dropbtn">병원정보</button>
                <div class="dropdown-content">
                    <a href="#">병원 상세</a>
                    <a href="#">병원 휴무일</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">의사정보</button>
                <div class="dropdown-content">
                    <a href="#">의사 상세</a>
                    <a href="#">의사 수정</a>
                    <a href="#">의사 등록</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">고객센터</button>
                <div class="dropdown-content">
                    <a href="#">공지사항</a>
                    <a href="#">Q&A</a>
                    <a href="#">1:1 문의</a>
                </div>
            </div>
        </nav>

        <div class="col-md-2 text-end logout-btn">
            <button type="button" class="btn btn-outline-dark me-2">로그아웃</button>
        </div>
    </header>
</body>
</html>