<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <script src="http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main class="login-page" layout:fragment="content">
    <h2 class="login-title">로그인</h2>
    <div class="login-social">
        <span class="login-social__title">내 주변 소아과를 가장 빠르게 예약하는 방법</span>
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=425f0a3e76e15e895c982fc0502bf8b8&redirect_uri=http://localhost:8090/auth/kakao"
           class="login-social__button">
            <img class="login-social__image" src="../img/kakao_login.png" alt="카카오로그인">
        </a>
    </div>

    <form role="form" method="post" action="/login-proc" class="login-form">
        <label for="email">이메일</label>
        <input type="email" name="email" id="email" placeholder="example@eungae.com" required>

        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" placeholder="********" required>

        <p type="hidden" th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>

        <button type="submit" class="button">로그인 하기</button>
    </form>
    <div class="login-help-container">
        <div class="login-help-container__items">
            <div class="login-help-container__item"> 회원이 아니신가요? <a href="/signup">회원가입</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>