<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/medical-records-details.css">
    <title>내 진료내역 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main  layout:fragment="content" >
    <div class="medical-records-header">
        <p>진료조회</p>
        <hr/>
    </div>
    <div class="medical-records-body">
        <div class="card">
            <div class="myrecords">
                <div class="hospital-name" th:text="${myMedicalRecordDetail.hospitalName}">
                      삼성에스마디정형외과의원
                </div>
                <hr/>
                <table>
                    <tr>
                        <td th:text="|환자 - ${myMedicalRecordDetail.childrenName}|">
                            환자 - 김환자
                        </td>
                        <td class="middle-line"> | </td>
                        <td th:text="|의사 - ${myMedicalRecordDetail.doctorName}|">
                            의사 - 김의사
                        </td>
                        <td class="middle-line"> | </td>
                        <td class="treatment-date" th:text="|${myMedicalRecordDetail.appointmentDate}|">
                            1234.56.78
                        </td>
                </table>
            </div>
            <div class="records-detail" id="detail1">
                <hr/>
                <table>
                    <tr>
                        <th>병원명</th>
                        <td th:text="${myMedicalRecordDetail.hospitalName}">삼성에스마디정형외과의원</td>
                    </tr>
                    <tr>
                        <th>환자명</th>
                        <td th:text="${myMedicalRecordDetail.childrenName}">김환자</td>
                    </tr>
                    <tr>
                        <th>의사명</th>
                        <td th:text="${myMedicalRecordDetail.doctorName}">김의사</td>
                    </tr>
                    <tr>
                        <td class="review-btn-place"></td>
                        <td>
                            <th:block th:if="${myMedicalRecordDetail.writeReview == false}">
                                <button th:onclick="|location.href='@{/review/post(appointmentSeq=${myMedicalRecordDetail.appointmentSeq})}'|" class="review-button">
                                    리뷰 쓰기
                                </button>
                            </th:block>
                            <th:block th:if="${myMedicalRecordDetail.writeReview == true}">
                                <button th:onclick="|location.href='@{/my/reviews}'|" class="review-button">
                                    리뷰 확인하기
                                </button>
                            </th:block>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>
<div layout:fragment="custom_js">
<!--    <script src="/js/medical-records.js"></script>-->
</div>
</body>
</html>