<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-children.css">
    <title>내 정보 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main class="my-children-page" layout:fragment="content">
    <h2 class="my-children-title">자녀 관리</h2>
    <div th:each="child : ${childrenList}" class="children-container">
        <img th:if="${child.profileImage == null}" src="/img/default-children-2.png" class="children-image" alt="기본 자녀 사진">
        <img th:unless="${child.profileImage == null}" th:src="@{/images/}+${child.profileImage}" class="children-image" alt="자녀 사진">
        <div class="card-body children-image-text">
            <h5 class="card-title" th:text="${child.name}">자녀 이름</h5>
            <i th:if="${child.gender == 'Female'}" class="fa-solid fa-child-dress badge-girl"></i>
            <i th:if="${child.gender == 'Male'}" class="fa-solid fa-child badge-boy"></i>
            <p class="card-text" th:text="${child.birthDate}">생년월일</p>
        </div>
        <!--삭제 -->
        <button class="children-closed-btn btn-sm align-self-start" onclick="showDeleteButton(this)">
            <i class="fa-solid fa-gear"></i>
        </button>
        <form th:action="@{/my/children/{id}(id=${child.childrenSeq})}" th:method="post" style="display:none;">
            <input type="hidden" name="_method" value="post" />
            <button type="submit" class="btn btn-danger">삭제</button>
        </form>
    </div>

    <!--자녀 추가 버튼-->
    <div class="children-container children-container__last">
        <h3><i class="fa-solid fa-circle-plus"></i></h3>
        <a th:href="@{/my/children/form}">
            <div class="children-image-text">만 18세 이하의 자녀만 등록할 수 있습니다.</div>
        </a>
    </div>
    <script src="/js/my-children.js"></script>
</main>
</body>
</html>