<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-page.css">
    <title>마이페이지 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main class="my-page" layout:fragment="content" th:action="@{'my/profile/{memberSeq}'}" th:object="${member}" method="get">
    <h2 class="my-page-title">내 정보</h2>
    <div class="my-page__parent">
        <div class="my-page-content">
            <div class="my-page-sub__title col-3">이름</div>
            <div class="my-page__input col">
                <input type="text" id="name" name="name" th:value="${member.name}" disabled>
            </div>
        </div>
        <div class="my-page-content">
            <div class="my-page-sub__title col-3">핸드폰</div>
            <div class="my-page__input col">
                <input type="text" id="phone_number" name="phone_number" th:value="${member.phoneNumber}" disabled>
            </div>
        </div>
        <div class="my-page-content">
            <div class="my-page-sub__title col-3">이메일</div>
            <div class="my-page__input col">
                <input type="text" id="email" name="email" th:value="${member.email}" disabled>
            </div>
        </div>
        <div class="my-page-content">
            <div class="my-page-sub__title col-3">주소</div>
            <div class="my-page__input col">
                <input type="text" id="address" name="address"
                       th:value="${member.address}+ ' ' + ${member.addressDetail}" disabled>
            </div>
        </div>
    </div>
    <div class="my-page__buttons">
        <a class="my-page__button my-page__button-top col" th:href="@{/my/profile/form}"><i
                class="fa-solid fa-gear my-page__button__icon"></i>내 정보 수정</a>
        <a class="my-page__button col" th:href="@{/my/children}"><i
                class="fa-solid fa-children my-page__button__icon"></i>자녀 관리</a>
        <a class="my-page__button col" th:href="@{/my/reviews}"><i
                class="fa-solid fa-pen-to-square my-page__button__icon"></i>리뷰 관리</a>
        <a class="my-page__button col" th:href="@{/my/reservations}"><i
                class="fa-solid fa-calendar-check my-page__button__icon"></i>예약
            관리</a>
        <a class="my-page__button col" th:href="@{/logout}"><i
                class="fa-solid fa-right-from-bracket my-page__button__icon"></i>로그아웃</a>
        <!--        <a class="my-page-withdrawal__button" th:href="@{/}">회원 탈퇴</a>-->
        <div class="wrap">
            <section>
                <a type="button" class="my-page-withdrawal__button" id="confirm">회원 탈퇴</a>
            </section>

            <!-- confirm 모달을 쓸 페이지에 추가 start-->
            <section class="modal modal-section type-confirm">
                <div class="enroll_box">
                    <p class="menu_msg"></p>
                </div>
                <div class="enroll_btn">
                    <button class="btn withdrawal btn_ok">탈퇴</button>
                    <button class="btn gray_btn modal_close">취소</button>
                </div>
            </section>
            <!-- confirm 모달을 쓸 페이지에 추가 end-->
            <!-- alert 모달을 쓸 페이지에 추가 start-->
            <section class="modal modal-section type-alert">
                <div class="enroll_box">
                    <p class="menu_msg"></p>
                </div>
                <div class="enroll_btn">
                    <button class="btn pink_btn modal_close">확인</button>
                </div>
            </section>
            <!-- alert 모달을 쓸 페이지에 추가 end-->
        </div>
    </div>
</main>
<div layout:fragment="custom_js">
    <script src="/js/my-page.js"></script>
</div>
</body>
</html>