<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-review.css" />
    <title>내 리뷰 보기 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="review-title-box">
        <h4 class="review-title">내가 쓴 리뷰내역</h4>
    </div>
    <hr />
    <div class="review-info">
        <div class="review">
            <p id="hospital-name">
                아이원병원 ><button class="review-delete-button">
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">12.04</span>
            </p>
            <p class="review-context">
                시설도 깨끗하고 의사쌤, 간호사쌤 모두
                친절하세요~~여기만한 병원 없는것 같아요~^^
            </p>
        </div>
        <hr />
        <div class="review">
            <p class="hospital-name">
                플러스소아청소년과의원 ><button
                    class="review-delete-button"
            >
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr />
        <div class="review">
            <p class="hospital-name">
                서울삼성소아청소년과의원 ><button
                    class="review-delete-button"
            >
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">10.09</span>
            </p>
            <p class="review-context">아기 사탕도 주고 너무 좋아요</p>
        </div>
        <hr />
        <div class="review">
            <p class="hospital-name">
                플러스소아청소년과의원 ><button
                    class="review-delete-button"
            >
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">8.23</span>
            </p>
            <p class="review-context">
                의사선생님께서 아기 주사를 어찌나 잘 놓던지 애기가
                울지도 않더라구요~독감주사 맞아야할 맘들은 이 병원
                강추드려용!!!!
            </p>
        </div>
        <hr />
        <div class="review">
            <p class="hospital-name">
                아이원병원 ><button class="review-delete-button">
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">12.04</span>
            </p>
            <p class="review-context">
                시설도 깨끗하고 의사쌤, 간호사쌤 모두
                친절하세요~~여기만한 병원 없는것 같아요~^^
            </p>
        </div>
        <hr />
        <div class="review">
            <p class="hospital-name">
                플러스소아청소년과의원 ><button
                    class="review-delete-button"
            >
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                시설도 깨끗하고 의사쌤, 간호사쌤 모두
                친절하세요~~여기만한 병원 없는것 같아요~^^
            </p>
        </div>
        <hr />
        <div class="review">
            <p id="hospitalname">
                서울삼성소아청소년과의원 ><button
                    class="review-delete-button"
            >
                삭제</button
            ><button class="review-update-button">수정</button>
            </p>
            <p id="review-star">
                ⭐⭐⭐⭐⭐ <span id="review-write-date">12.04</span>
            </p>
            <p id="review-context">
                시설도 깨끗하고 의사쌤, 간호사쌤 모두
                친절하세요~~여기만한 병원 없는것 같아요~^^
            </p>
        </div>
    </div>
</main>
</body>
</html>