<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-reservations.css">
    <title>내 예약 확인 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="my-reservaions-header">
        내 예약
        <hr/>
    </div>
    <div class="my-reservaions-body">
        <div th:unless="${#lists.size(responseAppointmentDtos) == 0} ">
            <div class="my-reservations" th:each=" responseAppointmentDto : ${responseAppointmentDtos}">
                <div class="hospital-name" th:text="${responseAppointmentDto.hospitalName}">
                    삼성에스마디정형외과의원
                </div>
                <hr/>
                <div class="appointment-list">
                    <div class="appointment-list__box"><span class="appointment-list__item">환자명 - </span><span
                            class="appointment-list__value">[[${responseAppointmentDto.childrenName}]]</span></div>
                    <div class="appointment-list__box"><span class="appointment-list__item">예약 날짜 - </span><span
                            class="appointment-list__value">[[${responseAppointmentDto.appointmentDate}]]</span></div>
                    <div class="appointment-list__box"><span class="appointment-list__item">예약 시간 - </span><span
                            th:text="${#strings.substring(responseAppointmentDto.appointmentHHMM, 0, 2) + ':' + #strings.substring(responseAppointmentDto.appointmentHHMM, 2, 4)}"></span>
                    </div>
                    <div class="appointment-list__box"><span class="appointment-list__item">담당 의사 - </span><span
                            class="appointment-list__value">[[${responseAppointmentDto.doctorName}]]</span></div>
                </div>
                <div class="button-place"
                     th:if="${responseAppointmentDto.status == T(com.playdata.eungae.appointment.domain.AppointmentStatus).APPOINTMENT}">
                    <a th:href="@{|/hospital/${responseAppointmentDto.hospitalSeq}|}" class="hospital-details">
                        병원보기
                    </a>
                    <button th:onclick="deleteAppointment([[${responseAppointmentDto.appointmentSeq}]])"
                            class="reservation-cancel">
                        예약취소
                    </button>
                </div>
                <div class="button-place"
                     th:if="${responseAppointmentDto.status == T(com.playdata.eungae.appointment.domain.AppointmentStatus).CANCEL}">
                    <button class="canceled-reservation" disabled>
                        취소된 예약입니다.
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${#lists.size(responseAppointmentDtos) == 0} ">
            예약 내역이 없습니다.
        </div>
    </div>
</main>
<div layout:fragment="custom_js">
    <script src="/js/my-reservations.js"></script>
</div>
</body>
</html>