<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-review.css"/>
    <title>내 리뷰 보기 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="review-title-box">
        <h4 class="review-title">내가 쓴 리뷰내역</h4>
    </div>
    <hr/>
    <div class="review-info" th:each="responseReviewDto : ${responseReviewDtos}">
        <div class="review">
            <p class="hospital-name">
                <a th:href="@{|/hospital/${responseReviewDto.hospitalSeq}|}" th:text="${responseReviewDto.hospitalName}">플러스소아청소년과의원</a>
                <button th:onclick="|location.href='@{/my/records/reviews/{review_seq}(review_seq=${responseReviewDto.reviewSeq})}'|" class="review-delete-button">삭제</button>
            </p>

            <div class="review-rate">
                <i th:each="num : ${#numbers.sequence(1,responseReviewDto.starRating)}" class="fa-solid fa-star"
                   style="color: #ffd500;"></i>
                <i th:if="${responseReviewDto.starRating != 5}"
                   th:each="num : ${#numbers.sequence(1,5 -responseReviewDto.starRating)}" class="fa-regular fa-star"
                   style="color: #ffd500;"></i>
            </div>

            <p class="review-context" th:text="${responseReviewDto.content}">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr/>
    </div>
</main>
</body>
</html>
