<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/my-review.css"/>
    <title>내 리뷰 보기 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="review-title-box">
        <h4 class="review-title">내가 쓴 리뷰내역</h4>
    </div>
    <hr/>
    <div class="review-info">
        <div class="review">
            <p class="hospital-name">
                <a href="##">플러스소아청소년과의원</a>
                <button class="review-delete-button">삭제</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr/>
        <div class="review">
            <p class="hospital-name">
                <a href="##">플러스소아청소년과의원</a>
                <button class="review-delete-button">삭제</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr/>
        <div class="review">
            <p class="hospital-name">
                <a href="##">플러스소아청소년과의원</a>
                <button class="review-delete-button">삭제</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr/>
        <div class="review">
            <p class="hospital-name">
                <a href="##">플러스소아청소년과의원</a>
                <button class="review-delete-button">삭제</button>
            </p>
            <p class="review-star">
                ⭐⭐⭐⭐⭐ <span class="review-write-date">11.11</span>
            </p>
            <p class="review-context">
                여기 가지마세요 간호사님 진짜 불친절합니다
            </p>
        </div>
        <hr/>
    </div>
</main>
</body>
</html>