<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/regular-hospital.css" />
    <title>내 단골 소아과 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="regular-hospital-title-box">
        <h4 class="regular-hospital-title">내 단골 소아과</h4>
    </div>
    <hr class="regular-hospital-title-hr" />
    <div th:unless="${#lists.size(favoritesHospitalDtos) == 0} ">
        <div th:each="favoritesHospitalDto : ${favoritesHospitalDtos}">
            <div class="hospital-info" >
                <img th:if="${favoritesHospitalDto.hospitalThumbnail eq null}" class="hospital-image" th:src="@{/img/logo1-2.png}" />
                <img th:unless="${favoritesHospitalDto.hospitalThumbnail eq null}"  class="hospital-image" th:src="@{/images/}+${favoritesHospitalDto.hospitalThumbnail}" />
                <div>
                    <a th:href="@{|/hospital/${favoritesHospitalDto.hospitalSeq}|}" th:text="${favoritesHospitalDto.hospitalName}" class="hospital-name">아이원병원</a>
                    <p class="location" th:text="${favoritesHospitalDto.hospitalAddress}">광명 소하동</p>
                    <br/>
                    <span class="review" th:text="${favoritesHospitalDto.averageRating}">5.0</span>
                        <i th:each="num : ${#numbers.sequence(1, favoritesHospitalDto.starCount)}" class="fa-solid fa-star"  style="color: #ffd500;"></i>
                        <i th:if="${favoritesHospitalDto.starCount != 5}"
                           th:each="num : ${#numbers.sequence(1,5- favoritesHospitalDto.starCount)}" class="fa-regular fa-star" style="color: #ffd500;"></i>
                    (<span th:text="${favoritesHospitalDto.totalReview}"></span>)
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div th:if="${#lists.size(favoritesHospitalDtos) == 0} ">
        <div class="hospital-info" >
            <p>단골 소아과가 없습니다.</p>
        </div>
    </div>
</main>
<div layout:fragment="custom_js">
</div>
</body>
</html>