<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/review-write.css">
    <title>리뷰 작성 - 응애 | 소아과 예약</title>
</th:block>
<main  layout:fragment="content">
        <div class="review-write-header">
            리뷰 작성하기
            <hr/>
        </div>
        <div class="review-write-body">
            <form>
                <input type="submit" class="write-button">
                <input type="text" id="title" placeholder="제목을 입력해주세요">
                <textarea id ="content" placeholder="내용을 입력해주세요"></textarea>
                <hr/>
                <div class="star-rating space-x-4">
                    <input type="radio" id="5-stars" name="rating" value="5"/>
                    <label for="5-stars" class="star pr-4">★</label>
                    <input type="radio" id="4-stars" name="rating" value="4"/>
                    <label for="4-stars" class="star">★</label>
                    <input type="radio" id="3-stars" name="rating" value="3"/>
                    <label for="3-stars" class="star">★</label>
                    <input type="radio" id="2-stars" name="rating" value="2"/>
                    <label for="2-stars" class="star">★</label>
                    <input type="radio" id="1-star" name="rating" value="1"/>
                    <label for="1-star" class="star">★</label>
                </div>
            </form>
        </div>
    </main>
</html>