.medical-records-header {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 24px;
    font-weight: bold;
}

.medical-records-body {
    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 30%;
}

.medical-records-body .card{
    border-radius: 3vw;
    margin-bottom: 3vh;
}

.myrecords {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.myrecords hr {
    background-color: #326EB3;
    height: 2px;
}
.myrecords table {
    width: 100%;
    font-size: 14px;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.middle-line {
    text-align: center;
    width: 10%;
}

.hospital-name {
    font-weight: bold;
    margin-bottom: 1vh;
}

.medical-records-body .row{
    text-align: center;
}

.records-detail {
    margin-left: 4vw;
    margin-right: 4vw;
}

.records-detail hr {
    background-color: #326EB3;
    height: 2px;
}
.records-detail table{
    width: 100%;
    margin-bottom: 2vh;
}

.record-detail-button {
    width: 26vw;
    height: 4vh;
    border-radius: 2vw;
    /* border: 1px #326EB3 solid; */
    border: 0px;
    background-color: #99B7D9;
}

.record-save-button {
    width: 26vw;
    height: 4vh;
    border-radius: 2vw;
    /* border: 1px #99B7D9 solid; */
    border: 0px;
    background-color: #142C47;
    color: white;
}

td {
    padding-left: 1vw
}

.review-btn-place{
    text-align: right;
}

.review-button {
    background-color: #326EB3;
    border: 0;
    border-radius: 6px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: white;
}

.review-btn {
    display: flex;
    justify-content: flex-end;
}