body {
    color: #333333;
}

hr {
    margin-top: 0.5rem;
}

.my-reservaions-header {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 24px;
    font-weight: bold;
}

.my-reservaions-body {
    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 30%;
}

.my-reservations {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 2vh;
}

.hospital-name {
    margin: 10px 10px 10px 10px;
    font-size: 1.2rem;
    font-weight: 550;
}

.hospital-name hr {
    background-color: #326EB3;
    height:2px;
}

.button-place {
    text-align: center;
    margin: 2vh 0px;
}

.appointment-list {
    margin-left: 20px;
}

.appointment-list__box {
    margin-bottom: 5px;
}

.appointment-list__item {
    font-size: 15px;
    color: #adadad;
}

.appointment-list__value {
    font-size: 17px;
}

a.hospital-details {
    background-color: #326EB3;
    border: 0;
    border-radius: 6px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 20vw;
    color: white;
}

.reservation-cancel {
    background-color: #326EB3;
    border: 0;
    border-radius: 6px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}

.canceled-reservation {
    background-color: #e4606d;
    border: 0;
    border-radius: 6px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
}
