main {
    margin-top: 6rem;
}
.hospital-image {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 7px;
    margin-right: 5%;
}
.hospital-info {
    display: flex;
    margin: 1% 5% 3% 5%;
}
.hospital-name {
    font-weight: bold;
    font-size: 20px;
    color: #333; !important;
}
.regular-hospital-title {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 700;
}
