<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">

<th:block layout:fragment="custom_header">
    <title>예약 - 응애 | 소아과 예약</title>
    <link rel="stylesheet" href="/css/appointment.css">
</th:block>

<body>
<main layout:fragment="content">
    <div class="form-wrapper">
        <form method="post" action="">
            <fieldset class="appointment-hospital">
                <div class="hospital-info">
                    <img class="hospital-img" src="/img/logo2.png" alt="병원 대표 이미지">
                    <div class="detail-info">
                        <strong><p th:text="${hospital.name}">병준병준병원</p></strong>
                        <p>진료 가능</p>
                    </div>
                    <div class="appointment-date-view" id="appointment-date-view"></div>
                </div>
            </fieldset>
            <hr/>
            <div class="appointment-info">
                <ul class="appointment-info-detail">
                    <li class="on">
                        <button class="dropdown-button"><i class="fa-solid fa-calendar appointment-icon"></i><strong>예약
                            날짜</strong></button>
                        <div id="menu1" class="content">
                            <input type="date" id="date" class="appointment-date">
                        </div>
                    </li>
                    <li>
                        <button class="dropdown-button"><i class="fa-solid fa-clock appointment-icon"></i><strong>예약
                            시간</strong></button>
                        <div id="menu2" class="content">
                            <fieldset class="appointment-info1">
                                <div id="time-list"></div>
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <button class="dropdown-button"><i class="fa-solid fa-user-doctor appointment-icon"></i><strong>진료
                            의사</strong></button>
                        <div id="menu3" class="content">
                            <div class="appointment-doctor-wrapper">
                                <img src="/img/doctor.jpeg" class="doctor-img">
                                <label class="appointment-doctor">
                                    <input type="radio" name="appointment-doctor" value="강동원">
                                    <span>강동원</span>
                                </label>
                            </div>
                            <div class="appointment-doctor-wrapper">
                                <img src="/img/doctor.jpeg" class="doctor-img">
                                <label class="appointment-doctor">
                                    <input type="radio" name="appointment-doctor" value="류준열">
                                    <span>류준열</span>
                                </label>
                            </div>

                        </div>
                    </li>
                    <li>
                        <button class="dropdown-button"><i class="fa-solid fa-child appointment-icon"></i><strong>진료자</strong></button>
                        <div  id="menu4" class="content">
                            <label class="appointment-children" th:each="children : ${children}">
                                <input type="radio" name="appointment-children" th:value=${children.childrenSeq}>
                                <span th:text="${children.name}">애기 이름</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <button class="dropdown-button"><i
                                class="fa-solid fa-clipboard appointment-icon"></i><strong>증상</strong></button>
                        <div id="menu5" class="content">
                            <label>
                                <textarea class="appointment-symptom" name="appointment-symptom"
                                          placeholder="증상을 간단히 입력해주세요."></textarea>
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="btn-wrapper">
                    <button type="button" class="btn-submit"><strong>예약 접수</strong></button>
                </div>
            </div>
        </form>
    </div>
</main>
<div layout:fragment="custom_js">
    <script src="/js/appointment.js"></script>
</div>
</body>
</html>