<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/shared.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon-96x96.png">
    <script src="https://kit.fontawesome.com/38adf5dcd0.js" crossorigin="anonymous"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/community-list.css">
    <title>커뮤니티 - 응애</title>
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header row">
        <div class="col-4 align-self-center">
            <button class="toggle-button float-left">
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
            </button>
        </div>
        <div class="col-4 text-center align-self-center">
            <a href="index.html" class="main-header__brand">
                <img src="../static/img/logo1-2.png" alt="EUNGAE LOGO" class="imgfluid">
            </a>
        </div>
        <div class="col-4 align-self-center">
            <button class="profile-button float-right">
                <i class="fa-solid fa-user fa-xl"></i>
            </button>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="/">내 주변 병원 찾기</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">커뮤니티</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">공지사항</a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="/">내 주변 병원 찾기</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">커뮤니티</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">공지사항</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">이용약관</a>
            </li>
        </ul>
    </nav>
    <main>
        <button class="post-button">글쓰기</button>
        <div class="community-header">
            <p>커뮤니티</p>
            <hr/>
        </div>
        <div class="community-body">
            <div class="community-post">
                <div class="row">
                    <div class="col-9">
                        <p class="post-title">제목</p>
                        <p class="post-contents">동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
                    </div>
                    <div class="col-3">
                        <img src="https://i.namu.wiki/i/5dbYIx9wSf1tIJGRb5NO8-fgK5YWOCMJA2Q-cEpsOOOFPlxhyqAUhhV5Cm87Pnanhb5-TpoXKFs9P2AZDGjFUQ.webp" class="thumbnail-image"/>
                    </div>
                </div>
                <div class="written-records">
                    <ul class="written-list">
                        <li class="records-item">스폰지밥</li>
                        <li class="records-item">1900.01.01</li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div class="community-post">
                <div class="row">
                    <div class="col-9">
                        <p class="post-title">제목</p>
                        <p class="post-contents">남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
                    </div>
                    <div class="col-3">
                        <img src="https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/cnoC/image/0i6vz0BAJtOUDb3zAs4dL_-fW6U.jpg" class="thumbnail-image"/>
                    </div>
                </div>
                <div class="written-records">
                    <ul class="written-list">
                        <li class="records-item">징징이</li>
                        <li class="records-item">1900.01.01</li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div class="community-post">
                <div class="row">
                    <div class="col-9">
                        <p class="post-title">제목</p>
                        <p class="post-contents">남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
                    </div>
                    <div class="col-3">
                        <img src="https://t1.daumcdn.net/cfile/tistory/996719435C5E660105" class="thumbnail-image"/>
                    </div>
                </div>
                <div class="written-records">
                    <ul class="written-list">
                        <li class="records-item">스폰지밥</li>
                        <li class="records-item">1900.01.01</li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div class="community-post">
                <div class="row">
                    <div class="col-9">
                        <p class="post-title">제목</p>
                        <p class="post-contents">남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
                    </div>
                    <div class="col-3">
                        <img src="https://t2.daumcdn.net/thumb/R720x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/cnoC/image/wcoB5UbOJCJKelL1-xscrQ5OrCM.jpg" class="thumbnail-image"/>
                    </div>
                </div>
                <div class="written-records">
                    <ul class="written-list">
                        <li class="records-item">뚱이</li>
                        <li class="records-item">1900.01.01</li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div class="community-post">
                <div class="row">
                    <div class="col-9">
                        <p class="post-title">제목</p>
                        <p class="post-contents">남산 위에 저 소나무 철갑을 두른 듯 바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
                    </div>
                    <div class="col-3">
                        <img src="https://t1.daumcdn.net/cfile/tistory/996719435C5E660105" class="thumbnail-image"/>
                    </div>
                </div>
                <div class="written-records">
                    <ul class="written-list">
                        <li class="records-item">스폰지밥</li>
                        <li class="records-item">1900.01.01</li>
                    </ul>
                </div>
                <hr/>
            </div>
            <div class="post-bottom"></div>
        </div>
    </main>
    <div class="container-fluid fixed-bottom text-center mobile-nav-bottom">
        <div class="row mobile-nav-bottom__items">
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-star fa-lg">
                </i>
                <p>단골병원</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-stethoscope fa-lg">
                </i>
                <p>진료내역</p>
            </a>

            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-house fa-lg"></i>
                <p>홈</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-comments fa-lg"></i>
                <p>커뮤니티</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-ellipsis fa-lg"></i>
                <p>더보기</p>
            </a>
        </div>
    </div>
    <script src="../static/js/shared.js"></script>
</body>
</html>