<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/shared.css">
    <link rel="stylesheet" href="../static/css/hospital-details.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon-96x96.png">
    <script src="https://kit.fontawesome.com/38adf5dcd0.js" crossorigin="anonymous"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a1466565de1761e287a3fe2b3af2d9b"></script>
    <script src="../static/js/hospital-details.js"></script>
    <title>Hospital-Details</title>
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header row">
        <div class="col-4 align-self-center">
            <button class="toggle-button float-left">
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
            </button>
        </div>
        <div class="col-4 text-center align-self-center">
            <a href="index.html" class="main-header__brand">
                <img src="../static/img/logo1-2.png" alt="EUNGAE LOGO">
            </a>
        </div>
        <div class="col-4 align-self-center">
            <button class="profile-button float-right">
                <i class="fa-solid fa-user fa-xl"></i>
            </button>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="/">내 주변 병원 찾기</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">커뮤니티</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">공지사항</a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="/">내 주변 병원 찾기</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">커뮤니티</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">공지사항</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">이용약관</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="hospital-informations">
            <div class="hospital-images">
                <img src="https://cdn.sayun.studio/boottent/files/assets/encore/photo/photo_454290aa-2867-4b44-97b2-1d7251b040bc.jpg">
            </div>
            <div class="hospital-informations-common">
                <h3>플레이데이터</h3>
                <hr/>
                <div>
                    <div class="hospital-informations-address"><i class="fas fa-map-marker-alt"></i><span>서울 금천구 가산디지털1로 25</span></div>
                    <div class="hospital-informations-phone"><i class="fas fa-phone-alt"></i><span>02-0000-0000</span></div>
                </div>
            </div>
        </div>
        <div class="clinic-hours">
            <div class="clinic-hours-header">
                진료시간
            </div>
            <div class="clinic-hours-body">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <table id="today">
                                <th>
                                    <td id="day">월요일</td>
                                    <td id="time">09:00 - 18:00</td>
                                    <td id="lunch-time">(점심 13:00 - 14:00)</td>
                                    <td id="timeShowBtn"><button class="clinic-hours-button" onclick="onShowBtn()"><i class="fas fa-arrow-down"></i></button></td>
                                </th>
                            </table>
                        </div>
                    </div>
                </div>
                <table id="schedule" style="display: none;">
                    <tr>
                        <td id="day">월요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">화요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">수요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">목요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">금요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">토요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                    <tr>
                        <td id="day">일요일</td>
                        <td id="time">09:00 - 18:00</td>
                        <td id="lunch-time">(점심 13:00 - 14:00)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="hospital-address">
            <div class="hospital-address-header">
                위치
            </div>
            <div class="hospital-address-body">
                <div id="hospital-address">
                    <div class="hospital-address-text"><i class="far fa-map"></i><span>서울 금천구 가산디지털1로 25</span></div>
                </div>
                <div id="map"></div>
                <script>
                    var container = document.getElementById('map');
                    var options = {
                        center: new kakao.maps.LatLng(33.450701, 126.570667),
                        level: 3
                    };
                    var map = new kakao.maps.Map(container, options);
                </script>
            </div>
        </div>
        <div class="hospital-doctor">
            <div class="hospital-doctor-header">
                의사
            </div>
            <div class="hospital-doctor-body">
                 <div class="card">
                    <table>
                        <tr>
                            <td>
                                <div class="doctor-image">
                                    <img src="https://t1.daumcdn.net/cfile/tistory/99E72B4D5C41BD5727">
                                </div>
                            </td>
                            <td class="doctor-name">
                                <p>비모</p>
                            </td>
                            <td>
                                <!-- <button>
                                    약력보기
                                </button> -->
                            </td>
                        </tr>
                    </table>
                 </div>
                 <div class="card">
                    <table>
                        <tr>
                            <td>
                                <div class="doctor-image">
                                    <img src="https://post-phinf.pstatic.net/MjAyMDEyMTdfMTQz/MDAxNjA4MTk2MTAwODY3.QjNHvtYqACnS7--uS1q2EzVjaKZ-8UbvmG3rDdfug0kg.7iWwVgUyT-LMWdg7YSU-NtuMbd0kbD0S1eMoxjT2pQkg.PNG/21.png?type=w800_q75">
                                </div>
                            </td>
                            <td class="doctor-name">
                                <P>보노보노</P>
                            </td>
                            <td>
                                <!-- <button>
                                    약력보기
                                </button> -->
                            </td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
        <div>

        </div>
        <div class="reservation-button-place">
            <button>예약하기</button>
        </div>
        <div class="bbung">

        </div>
    </main>
    <div class="container-fluid fixed-bottom text-center mobile-nav-bottom">
        <div class="row mobile-nav-bottom__items">
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-star fa-lg">
                </i>
                <p>단골병원</p>
            </a>

            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-stethoscope fa-lg">
                </i>
                <p>진료내역</p>
            </a>

            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-house fa-lg"></i>
                <p>홈</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-comments fa-lg"></i>
                <p>커뮤니티</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-ellipsis fa-lg"></i>
                <p>더보기</p>
            </a>
        </div>
    </div>
    <script src="../static/js/shared.js"></script>
</body>
</html>