<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/main.css">
    <title>응애 - 내 주변 소아과를 가장 빠르게 예약하는 방법</title>
</th:block>
<body>
<main layout:fragment="content">
    <form class="search-form" method="get" th:action="@{/hospital/map/search}">
        <div class="search-container">
            <input type="text" placeholder="찾고 싶은 병원을 검색하세요." class="search-input" name="keyword">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
    <div class="main-buttons">
        <button class="main-button" onclick="location.href='/my/appointments'">
            <i class="fa-solid fa-hospital-user"></i>
            <p class="main-button__text"><a th:href="@{/my/appointments}">내 예약 확인하기</a></p>
        </button>
        <button class="main-button" onclick="location.href='/my/hospitals'">
            <i class="fa-solid fa-star fa-lg main-star"></i>
            <p class="main-button__text"><a th:href="@{/my/hospitals}">단골병원</a></p>
        </button>
        <button class="main-button map" onclick="location.href='/map'">
            <i class="fa-solid fa-map-location-dot"></i>
            <p class="main-button__text"><a th:href="@{/map}">주변 병원 찾기</a></p>
        </button>
        <button class="main-button" onclick="location.href='/my/records'">
            <i class="fa-solid fa-stethoscope fa-lg"></i>
            <p class="main-button__text"><a th:href="@{/my/records}">진료내역</a></p>
        </button>
        <div class="btn-container">
            <button class="main-button commu" onclick="location.href='/articles'">
                <p class="main-button__text"><a th:href="@{/articles}">커뮤니티 <i
                        class="fa-solid fa-chevron-right"></i></a></p>
            </button>
            <button class="main-button noti" onclick="location.href='/notice'">
                <p class="main-button__text"><a th:href="@{/notice}">공지사항 <i
                        class="fa-solid fa-chevron-right"></i></a></p>
            </button>
        </div>
        <button class="main-button main-banner">
            <p class="banner-text">
                급하게 소아과 예약이 필요할 땐 ?<br/>
                <strong>응애</strong>
            </p>
        </button>
    </div>
</main>
<script>

</script>
</body>
</html>