<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/main.css">
    <title>응애 - 내 주변 소아과를 가장 빠르게 예약하는 방법</title>
</th:block>
<body>
<main  layout:fragment="content">
    <form class="search-form" th:method="get" th:action="@{/map/search}">
        <div class="search-container">
            <input type="text" placeholder="찾고 싶은 병원을 검색하세요." class="search-input" name="keyword">
            <button type="submit" class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
    <div class="main-buttons">
        <button class="main-button">
            <i class="fa-solid fa-hospital-user"></i>
            <p class="main-button__text"><a th:href="@{/my/appointments}">내 예약 확인하기</a></p>
        </button>
        <button class="main-button">
            <i class="fa-solid fa-map-location-dot"></i>
            <p class="main-button__text"><a th:href="@{/map}">주변 병원 찾기</a></p>
        </button>
    </div>
</main>
<script>

</script>
</body>
</html>