<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{/fragments/header :: header}"></div>
	<link rel="stylesheet" href="/css/map.css">
	<title>주변 병원 찾기</title>
</head>
<body>
<div th:replace="~{/fragments/mainHeader :: main-header}"></div>

<main>
	<form class="search-form"  onsubmit="">
		<div class="search-container">
			<input type="text" placeholder="찾고 싶은 병원을 검색하세요." id="keyword" class="search-input">
			<button type="submit" class="search-button">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>
	</form>

	<div class="map_wrap">
		<div id="map" style="width:100vw;height:90vh;position:relative;overflow:hidden;"></div>
	</div>
</main>

<div th:replace="~{/fragments/bottomNavbar :: bottomNavbar}"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=399f802c931e5e59db319cc955db0246&libraries=services"></script>

<script src="js/map.js"></script>
<script src="js/shared.js"></script>
</body>
</html>