<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/shared.css">
    <link rel="stylesheet" href="../static/css/medical-records.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon-96x96.png">
    <script src="https://kit.fontawesome.com/38adf5dcd0.js" crossorigin="anonymous"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/medical-records.js"></script>
    <title>EUNGAE</title>
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header row">
        <div class="col-4 align-self-center">
            <button class="toggle-button float-left">
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
                <span class="toggle-button__bar"></span>
            </button>
        </div>
        <div class="col-4 text-center align-self-center">
            <a href="index.html" class="main-header__brand">
                <img src="../static/img/logo1-2.png" alt="EUNGAE LOGO">
            </a>
        </div>
        <div class="col-4 align-self-center">
            <button class="profile-button float-right">
                <i class="fa-solid fa-user fa-xl"></i>
            </button>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="/">내 주변 병원 찾기</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">커뮤니티</a>
                </li>
                <li class="main-nav__item">
                    <a href="/">공지사항</a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="/">내 주변 병원 찾기</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">커뮤니티</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">공지사항</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/">이용약관</a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="medical-records-header">
            <p>진료내역</p>
            <hr/>
        </div>
        <div class="medical-records-body">
            <div class="card">
                <div class="myrecords">
                    <div class="hospital-name">
                        플레이데이터
                    </div>
                    <table>
                        <tr>
                            <td>
                                환자 - 으으으
                            </td>
                            <td class="middle-line"> | </td>
                            <td>
                                의사 - 아아아
                            </td>
                            <td class="middle-line"> | </td>
                            <td class="treatment-date">
                                1234.56.78
                            </td>
                    </table>
                    <div class="row">
                        <div class="col">
                            <button class="record-detail-button" onclick="showDetails()">상세보기</button>
                        </div>
                        <div class="col">
                            <button class="record-save-button" onclick="saveDetails()">내역저장</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="myrecords">
                    <div class="hospital-name">
                        네이버
                    </div>
                    <table>
                        <tr>
                            <td>
                                환자 - 카카오
                            </td>
                            <td class="middle-line"> | </td>
                            <td>
                                의사 - 당근마켓
                            </td>
                            <td class="middle-line"> | </td>
                            <td class="treatment-date">
                                1234.56.78
                            </td>
                    </table>
                    <div class="row">
                        <div class="col">
                            <button class="record-detail-button" onclick="showDetails()">상세보기</button>
                        </div>
                        <div class="col">
                            <button class="record-save-button" onclick="saveDetails()">내역저장</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="myrecords">
                    <div class="hospital-name">
                        배달의민족
                    </div>
                    <table>
                        <tr>
                            <td>
                                환자 - 토스
                            </td>
                            <td class="middle-line"> | </td>
                            <td>
                                의사 - 라인
                            </td>
                            <td class="middle-line"> | </td>
                            <td class="treatment-date">
                                1234.56.78
                            </td>
                    </table>
                    <div class="row">
                        <div class="col">
                            <button class="record-detail-button" onclick="showDetails()">상세보기</button>
                        </div>
                        <div class="col">
                            <button class="record-save-button" onclick="saveDetails()">내역저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="container-fluid fixed-bottom text-center mobile-nav-bottom">
        <div class="row mobile-nav-bottom__items">
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-star fa-lg">
                </i>
                <p>단골병원</p>
            </a>

            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-stethoscope fa-lg">
                </i>
                <p>진료내역</p>
            </a>

            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-house fa-lg"></i>
                <p>홈</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-comments fa-lg"></i>
                <p>커뮤니티</p>
            </a>
            <a class="nav-link text-dark mobile-nav-bottom__item col" href="#">
                <i class="fa-solid fa-ellipsis fa-lg"></i>
                <p>더보기</p>
            </a>
        </div>
    </div>
    <script src="../static/js/shared.js"></script>
</body>
</html>