<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/shared.css" />
        <link rel="stylesheet" href="../static/css/my-review.css" />
        <link
            rel="icon"
            type="image/x-icon"
            href="../static/img/favicon-96x96.png"
        />
        <script
            src="https://kit.fontawesome.com/38adf5dcd0.js"
            crossorigin="anonymous"
        ></script>
        <script src="js/jquery-3.7.1.min.js"></script>
        <title>내 리뷰 보기 - 응애 | 소아과 예약</title>
    </head>

    <body>
        <div class="backdrop"></div>
        <header class="main-header row">
            <div class="col-4 align-self-center">
                <button class="toggle-button float-left">
                    <span class="toggle-button__bar"></span>
                    <span class="toggle-button__bar"></span>
                    <span class="toggle-button__bar"></span>
                </button>
            </div>
            <div class="col-4 text-center align-self-center">
                <a href="index.html" class="main-header__brand">
                    <img src="../static/img/logo1-2.png" alt="EUNGAE LOGO" />
                </a>
            </div>
            <div class="col-4 align-self-center">
                <button class="profile-button float-right">
                    <i class="fa-solid fa-user fa-xl"></i>
                </button>
            </div>
            <nav class="main-nav">
                <ul class="main-nav__items">
                    <li class="main-nav__item">
                        <a href="/">내 주변 병원 찾기</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/">커뮤니티</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/">공지사항</a>
                    </li>
                </ul>
            </nav>
        </header>
        <nav class="mobile-nav">
            <ul class="mobile-nav__items">
                <li class="mobile-nav__item">
                    <a href="/">내 주변 병원 찾기</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="/">커뮤니티</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="/">공지사항</a>
                </li>
                <li class="mobile-nav__item">
                    <a href="/">이용약관</a>
                </li>
            </ul>
        </nav>
        <main>
            <div class="review-title-box">
                <h4 class="review-title">내가 쓴 리뷰내역</h4>
            </div>
            <hr />
            <div class="review-info">
                <div class="review">
                    <p id="hospitalname">
                        아이원병원 ><button class="review-delete-button">
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">12.04</span>
                    </p>
                    <p id="review-context">
                        시설도 깨끗하고 의사쌤, 간호사쌤 모두
                        친절하세요~~여기만한 병원 없는것 같아요~^^
                    </p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        플러스소아청소년과의원 ><button
                            class="review-delete-button"
                        >
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">11.11</span>
                    </p>
                    <p id="review-context">
                        여기 가지마세요 간호사님 진짜 불친절합니다
                    </p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        서울삼성소아청소년과의원 ><button
                            class="review-delete-button"
                        >
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">10.09</span>
                    </p>
                    <p id="review-context">아기 사탕도 주고 너무 좋아요</p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        플러스소아청소년과의원 ><button
                            class="review-delete-button"
                        >
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">8.23</span>
                    </p>
                    <p id="review-context">
                        의사선생님께서 아기 주사를 어찌나 잘 놓던지 애기가
                        울지도 않더라구요~독감주사 맞아야할 맘들은 이 병원
                        강추드려용!!!!
                    </p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        아이원병원 ><button class="review-delete-button">
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">12.04</span>
                    </p>
                    <p id="review-context">
                        시설도 깨끗하고 의사쌤, 간호사쌤 모두
                        친절하세요~~여기만한 병원 없는것 같아요~^^
                    </p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        플러스소아청소년과의원 ><button
                            class="review-delete-button"
                        >
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">11.11</span>
                    </p>
                    <p id="review-context">
                        시설도 깨끗하고 의사쌤, 간호사쌤 모두
                        친절하세요~~여기만한 병원 없는것 같아요~^^
                    </p>
                </div>
                <hr />
                <div class="review">
                    <p id="hospitalname">
                        서울삼성소아청소년과의원 ><button
                            class="review-delete-button"
                        >
                            삭제</button
                        ><button class="review-update-button">수정</button>
                    </p>
                    <p id="review-star">
                        ⭐⭐⭐⭐⭐ <span id="review-write-date">12.04</span>
                    </p>
                    <p id="review-context">
                        시설도 깨끗하고 의사쌤, 간호사쌤 모두
                        친절하세요~~여기만한 병원 없는것 같아요~^^
                    </p>
                </div>
            </div>
        </main>
        <div class="container-fluid fixed-bottom text-center mobile-nav-bottom">
            <div class="row mobile-nav-bottom__items">
                <a
                    class="nav-link text-dark mobile-nav-bottom__item col"
                    href="#"
                >
                    <i class="fa-solid fa-star fa-lg"> </i>
                    <p>단골병원</p>
                </a>

                <a
                    class="nav-link text-dark mobile-nav-bottom__item col"
                    href="#"
                >
                    <i class="fa-solid fa-stethoscope fa-lg"> </i>
                    <p>진료내역</p>
                </a>

                <a
                    class="nav-link text-dark mobile-nav-bottom__item col"
                    href="#"
                >
                    <i class="fa-solid fa-house fa-lg"></i>
                    <p>홈</p>
                </a>
                <a
                    class="nav-link text-dark mobile-nav-bottom__item col"
                    href="#"
                >
                    <i class="fa-solid fa-comments fa-lg"></i>
                    <p>커뮤니티</p>
                </a>
                <a
                    class="nav-link text-dark mobile-nav-bottom__item col"
                    href="#"
                >
                    <i class="fa-solid fa-ellipsis fa-lg"></i>
                    <p>더보기</p>
                </a>
            </div>
        </div>
        <script src="../static/js/shared.js"></script>
    </body>
</html>
