<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/community-post-details.css">
    <title>커뮤니티보드 상세 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main  layout:fragment="content">
    <div class="post-details-header">
        커뮤니티 상세
        <hr/>
    </div>
    <div class="post-details-body">
        <div class="post-writter">
            <ul>
                <li class="post-writer-items post-writter-nickname">
                    작성자 - 스폰지밥
                </li>
                <li class="post-writer-items"> | </li>
                <li class="post-writer-items post-written-date">
                    작성일 - 2023-01-01
                </li>
            </ul>
        </div>
        <div class="post-details-title">
            <p>이건 애국자 1절입니다.</p>
        </div>
        <div class="post-details-contents">
            <p>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세</p>
        </div>
        <div class="post-details-images">
            <div class="img-place">
                <img src="https://i.namu.wiki/i/5dbYIx9wSf1tIJGRb5NO8-fgK5YWOCMJA2Q-cEpsOOOFPlxhyqAUhhV5Cm87Pnanhb5-TpoXKFs9P2AZDGjFUQ.webp"/>
            </div>
            <div class="img-place">
                <img src="https://cdn.huffingtonpost.kr/news/photo/201609/36700_71074.jpeg"/>
            </div>
        </div>
        <hr/>
    </div>
</main>
</body>
</html>