<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/community-write.css">
    <title>글 수정하기 - 응애 | 소아과 예약</title>
</th:block>
<main layout:fragment="content">
    <div class="post-write-header">
        수정하기
        <hr/>
    </div>
    <div class="post-write-body">

        <form th:action="@{/articles/update}" th:object="${communityBoardDto}" method="post" enctype="multipart/form-data">
            <input type="submit" class="write-button">
            <input type="text" th:field="*{title}" th:if="${communityBoardDto.title}" th:value="${communityBoardDto.title}" placeholder="제목을 입력해주세요"/>
            <input type="text" th:field="*{title}" th:unless="${communityBoardDto.title}" placeholder="제목을 입력해주세요"/>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect title</p>
            <hr/>
            <textarea th:field="*{content}" th:if="${communityBoardDto.content}" th:text="${communityBoardDto.content}" placeholder="내용을 입력해주세요"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect content</p>
            <input type="hidden" th:field="*{communityBoardSeq}" th:value="${communityBoardDto.communityBoardSeq}" />
            <hr/>
        </form>
    </div>
</main>
</html>