<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/community-write.css">
    <title>글쓰기 - 응애 | 소아과 예약</title>
</th:block>
<main layout:fragment="content">
    <div class="post-write-header">
        글쓰기
        <hr/>
    </div>
    <div class="post-write-body">
        <form action="/article/post" method="post" enctype="multipart/form-data">
            <input type="submit" class="write-button">
            <input type="text" id="title" name="title" placeholder="제목을 입력해주세요">
            <textarea id="content" name="content" placeholder="내용을 입력해주세요"></textarea>
            <hr/>
            <label for="post-image"><i class="far fa-image"></i> 이미지 추가</label>
            <input type="file" id="post-image" name="image" multiple>
            <p>
                <span id="filename"></span>
            </p>
        </form>
    </div>
</main>
</html>