<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/community-list.css">
    <title>커뮤니티 - 응애 | 소아과 예약</title>
</th:block>

<body>
<main layout:fragment="content">
    <button class="post-button"><a th:href="@{/article/post}">글쓰기</a></button>
    <div class="community-header">
        <p>커뮤니티</p>
        <hr/>
    </div>
    <div class="community-body">
        <!-- 반복되는 게시글 부분 -->
        <div class="community-post" th:each="post : ${posts}">
            <div class="row">
                <div class="col-9">
                    <a th:href="@{/article/details(post.id)}" class="post-title" th:text="${post.title}">제목</a>
                    <p class="post-contents" th:text="${post.content}">내용</p>
                </div>
                <div class="col-3">
                    <img th:src="${post.thumbnailImageUrl}" class="thumbnail-image"/>
                </div>
            </div>
            <div class="written-records">
                <ul class="written-list">
                    <li class="records-item" th:text="${post.author}">작성자</li>
                    <li class="records-item" th:text="${#temporals.format(post.date, 'yyyy.MM.dd')}">작성일</li>
                </ul>
            </div>
            <hr/>
        </div>
        <!-- 게시글 끝 -->

        <div class="post-bottom"></div>
    </div>
</main>
</body>
</html>