<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <link rel="stylesheet" href="/css/hospital-admin-doctor-form.css">
    <title>응애(병원) - 의사 등록</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <form id="doctorForm">
        <div id="profilePictureContainer" class="profile-picture-container">
            <img id="thumbnail" src="/img/doctor.jpeg" alt="Thumbnail">
            <div class="change-text">사진 바꾸기</div>
        </div>
        <input type="file" id="photo" name="photo" accept="image/*" style="display: none;" required>

        <label for="name">이름</label>
        <input type="text" id="name" name="name" required>

        <label for="phone">핸드폰</label>
        <input class="doctor-form__phone" type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{4}[0-9]{4}"
               placeholder="숫자만 입력하세요. 예: 01012345678"
               required>

        <button type="submit">등록</button>
    </form>
</main>
<div layout:fragment="hospital_custom_js">
</div>
</body>
</html>