<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/hospital-login.css"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png" />
    <title>로그인 - 응애 | 병원페이지</title>
</head>
<body>
<div class="content">
    <h2>
        <img src="/img/logo1-2.png" alt="로고 이미지" width="100px"/>
    </h2>
    <div class="login-box">
        <form id="loginForm">
            <div class="form-group">
                <input type="text"  class="form-control" id="username" placeholder="아이디" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="비밀번호" />
            </div>
            <button type="submit" class="btn btn-primary"  style="background-color: #326eb3"  >
                로그인
            </button>
        </form>
    </div>
</div>
<div class="footer">
    <p>Contact us at 응애@gmail.com</p>
</div>
<script src="js/jquery-3.7.1.min.js"></script>
<script src="js/popper.min.js"></script>
</body>
</html>
