<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/hosptial_main_layout}">
<th:block layout:fragment="hospital_custom_header">
    <link rel="stylesheet" href="/css/hospital-main.css">
    <title>응애 - 병원 메인</title>
</th:block>

<body>
<main layout:fragment="hospital_content">
    <h3>의사 선생님 출근 목록</h3>
    <div class="doctor-commute-container">
        <button class="doctor-on-off on">
            <img src="../img/doctor-su.jpeg">
            <span class="doctor-img-text">김수용
                        <span class="badge bg-dark text-light">OFF</span>
            </span>

        </button>
        <button class="doctor-on-off off">
            <img src="../img/doctor-img.avif">
            <span class="doctor-img-text">전병준
                <span class="badge bg-green text-light">O N</span>
            </span>
        </button>
        <button class="doctor-on-off">
            <img src="../img/woojin.jpeg">
            <span class="doctor-img-text">김우진</span>
        </button>
        <button class="doctor-on-off">
            <img src="../img/doctor.jpeg">
            <span class="doctor-img-text">이신의</span>
        </button>
    </div>

    <h3>예약 목록</h3>
    <input class="calender mb-2" type="date" id="date"/>
    <button id="on-site-modal-btn">현장등록</button>

    <table id="appointment-list" class="table-container">
        <thead>
        <tr>
            <th class="tb-center">순번</th>
            <th class="tb-center">이름</th>
            <th class="tb-center">나이</th>
            <th class="tb-center">접수시간</th>
            <th class="tb-center">담당의</th>
            <th class="tb-center">초재진구분</th>
            <th class="tb-center">증상</th>
            <th class="tb-center">방문여부</th>
        </tr>
        </thead>
        <tbody>
        <tr class="appointment-record">
            <a href="#">
                <td class="tb-center">1</td>
                <td class="tb-center">김우진</td>
                <td class="tb-center">23세</td>
                <td class="tb-center">9:00</td>
                <td class="tb-center">김년천</td>
                <td class="tb-center">재진</td>
                <td class="tb-center">감기</td>
            </a>
            <td class="tb-center">
                <button class="visited-check">
                    방문
                </button>
            </td>
        </tr>
        <tr>
            <td class="tb-center">2</td>
            <td class="tb-center">홍지혜</td>
            <td class="tb-center">24세</td>
            <td class="tb-center">9:00</td>
            <td class="tb-center">김년천</td>
            <td class="tb-center">초진</td>
            <td class="tb-center">엉덩이 아파요</td>
            <td class="tb-center">
                <button class="visited-check">
                    방문
                </button>
            </td>
        </tr>
        <tr>
            <td class="tb-center">3</td>
            <td class="tb-center">김수용</td>
            <td class="tb-center">23세</td>
            <td class="tb-center">9:11</td>
            <td class="tb-center">김년천</td>
            <td class="tb-center">초진</td>
            <td height="40%" style="
                                width: 40%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            " class="symptom">
                거짓말이 막 나오고 기분이 오르락 내리락
                해요 아침엔 화가 났다가 밤만 되면 눈물이
                나와요
            </td>
            <td class="tb-center">
                <button class="visited-check">
                    방문
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<div layout:fragment="hospital_custom_js">
</div>
</body>
</html>