<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mobile_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/notice-list.css">
    <title>공지사항 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div>
        <div class="notice">
            <p>공지사항</p>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="notice-total">
                    총<strong class="notice-total-number">&nbsp;297</strong>&nbsp;건
                </div>
            </div>
        </div>

        <div class="notice-content">
            <table>
                <thead>
                <tr>
                    <th class="notice-th">NO</th>
                    <th class="notice-th">제목</th>
                    <th class="notice-th">작성일</th>
                </tr>
                </thead>

                <tbody>
                <tr
                        class="notice-separator"
                        style="height: 90px; background: #DBE5EF"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">1</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4158"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">
                                    판다 개인정보처리 방침에 대한 안내
                                </div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: #DBE5EF"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">2</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4115"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">
                                    2023년 최저임금은 시급 9,620원입니다
                                </div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>

                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">3</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4286"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">추석 연휴 고객센터 운영 안내</div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">4</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4256"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">
                                    영화 (메가로돈 2) 예매권 이벤트
                                </div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">5</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4286"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">추석 연휴 고객센터 운영 안내</div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">6</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4256"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">
                                    영화 (메가로돈 2) 예매권 이벤트
                                </div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">7</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4286"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">추석 연휴 고객센터 운영 안내</div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                <tr
                        class="Table_--separator__Sm8j0"
                        style="height: 90px; background: none"
                >
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-type">8</span>
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <a href="/service-center/notice/4256"
                        >
                            <div class="Notice_title-wrap__BiTff">
                                <div class="notice-title">
                                    영화 (메가로돈 2) 예매권 이벤트
                                </div>
                            </div>
                        </a
                        >
                    </td>
                    <td colspan="1" rowspan="1" class="">
                        <span class="notice-writedate">2024.01.05</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- notice-content -->
        <div class="page-box">
            <ul class="pagination">
                <li class="active"><a href="#11111111111111111">1</a></li>
                <li><a href="#222222222222222222222">2</a></li>
                <li><a href="#333333333333333333333">3</a></li>
                <li><a href="#444444444444444444444">4</a></li>
                <li><a href="#555555555555555555555">5</a></li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>