<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/hosptial_detail_layout}">
<th:block layout:fragment="custom_header">
    <link rel="stylesheet" href="/css/hospital-details.css">
    <title>병원 상세 - 응애 | 소아과 예약</title>
</th:block>
<body>
<main layout:fragment="content">
    <div class="hospital-informations">
        <div class="hospital-images" th:attr="data-count=${hospitalImages.size()}">
            <img th:if="${#lists.isEmpty(hospitalImages)}" class="basicHospitalImage" th:src="@{/img/logo3.png}"
                 alt="basicImage"/>
            <img th:unless="${#lists.isEmpty(hospitalImages)}" th:src="@{/images/}+${hospitalImage.storeFileName}"
                 th:each="hospitalImage, index: ${hospitalImages}" class="slide"
                 th:style="'background-image: url(' + |${'/images/' + hospitalImage.storeFileName}| + ');'"
                 th:class="${index == 0} ? 'slide active' : 'slide'"
                 alt="hospitalImages" th:onError="this.src='@{/img/logo3.png}'"/>
        </div>

        <div class="hospital-informations-common">
            <div>
                <span class="hospitla-name" th:text="${hospital.name}">병원 이름</span>
                <button id="likeButton" class="btn"><i class="fa-regular fa-star"></i></button>
            </div>
            <hr/>
            <div>
                <input type="hidden" id="hospitalSeq" th:value="${hospital.hospitalSeq}">
                <div class="hospital-informations-address"><i class="fas fa-map-marker-alt"></i>
                    <span th:text="${hospital.address}">병원 주소</span>
                </div>
                <div class="hospital-informations-phone"><i class="fas fa-phone-alt"></i>
                    <span th:text="${hospital.contact}">병원 번호</span>
                </div>
                <div class="hospital-informations-notice" th:if="${not #strings.isEmpty(hospital.notice)}">
                    <i class="fa-solid fa-file"></i>
                    <span th:text="${hospital.notice}">병원 설명</span>
                </div>
            </div>
        </div>
    </div>
    <div class="clinic-hours">
        <div class="clinic-hours-header">
            진료시간
        </div>
        <div class="clinic-hours-body">
            <div class="card">
                <div class="card-body">
                    <div>
                        <table id="today">
                            <td class="day" id="today-day">요일</td>
                            <td class="time" id="today-time">영업시간</td>
                            <td class="lunch-time">
                                (점심 <span
                                    th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                            </td>
                            <td id="timeShowBtn">
                                <button class="clinic-hours-button" onclick="onShowBtn()">
                                    <i class="fas fa-arrow-down"></i></button>
                            </td>
                        </table>
                    </div>
                </div>
            </div>
            <table id="schedule" style="display: none;">
                <tr>
                    <td class="day">월요일</td>
                    <div th:if="${hospital.hospitalSchedule.monOpen} != '00:00' and ${hospital.hospitalSchedule.monClose} != '00:00'">
                        <td class="time">
                        <span id="dutyTime1"
                              th:text="${hospital.hospitalSchedule.monOpen}+' - '+${hospital.hospitalSchedule.monClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.monOpen} == '00:00' and ${hospital.hospitalSchedule.monClose} == '00:00'">
                        <td class="time">
                        <span id="dutyTime1">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">화요일</td>
                    <div th:if="${hospital.hospitalSchedule.tueOpen} != '00:00' and ${hospital.hospitalSchedule.tueClose} != '00:00'">
                        <td class="time">
                        <span id="dutyTime2"
                              th:text="${hospital.hospitalSchedule.tueOpen}+' - '+${hospital.hospitalSchedule.tueClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.tueOpen} == '00:00' and ${hospital.hospitalSchedule.tueClose} == '00:00'">
                        <td class="time">
                        <span id="dutyTime2">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">수요일</td>
                    <div th:if="${hospital.hospitalSchedule.wedOpen} != '00:00' and ${hospital.hospitalSchedule.wedClose} != '00:00'">
                        <td class="time">
                        <span id="dutyTime3"
                              th:text="${hospital.hospitalSchedule.wedOpen}+' - '+${hospital.hospitalSchedule.wedClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.wedOpen} == '00:00' and ${hospital.hospitalSchedule.wedClose} == '00:00'">
                        <td class="time">
                        <span id="dutyTime3">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">목요일</td>
                    <div th:if="${hospital.hospitalSchedule.thuOpen} != '00:00' and ${hospital.hospitalSchedule.thuClose} != '00:00'">
                        <td class="time">
                        <span id="dutyTime4"
                              th:text="${hospital.hospitalSchedule.thuOpen}+' - '+${hospital.hospitalSchedule.thuClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.thuOpen} == '00:00' and ${hospital.hospitalSchedule.thuClose} == '00:00'">
                        <td class="time">
                        <span id="dutyTime4">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">금요일</td>
                    <div th:if="${hospital.hospitalSchedule.friOpen} != '00:00' and ${hospital.hospitalSchedule.friOpen} != '00:00'">
                        <td class="time">
                        <span id="dutyTime5"
                              th:text="${hospital.hospitalSchedule.friOpen}+' - '+${hospital.hospitalSchedule.friClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.friOpen} == '00:00' and ${hospital.hospitalSchedule.friOpen} == '00:00'">
                        <td class="time">
                        <span id="dutyTime5">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">토요일</td>
                    <div th:if="${hospital.hospitalSchedule.satOpen} != '00:00' and ${hospital.hospitalSchedule.satClose} != '00:00'">
                        <td class="time">
                        <span id="dutyTime6"
                              th:text="${hospital.hospitalSchedule.satOpen}+' - '+${hospital.hospitalSchedule.satClose}"></span>
                        </td>
                        <td class="lunch-time">
                            (점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.satOpen} == '00:00' and ${hospital.hospitalSchedule.satOpen} == '00:00'">
                        <td class="time">
                        <span id="dutyTime6">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td class="day">일요일</td>
                    <div th:if="${hospital.hospitalSchedule.sunOpen} != '00:00' and ${hospital.hospitalSchedule.sunClose} != '00:00'">
                        <td class="time"><span id="dutyTime0"
                                               th:text="${hospital.hospitalSchedule.sunOpen}+' - '+${hospital.hospitalSchedule.sunClose}"></span>
                        </td>
                        <td class="lunch-time">(점심 <span
                                th:text="${hospital.hospitalSchedule.lunchHour}+' - '+${hospital.hospitalSchedule.lunchEndHour}"></span>)
                        </td>
                    </div>
                    <div th:if="${hospital.hospitalSchedule.sunOpen} == '00:00' and ${hospital.hospitalSchedule.sunClose} == '00:00'">
                        <td class="time">
                        <span id="dutyTime0">
                            휴무일
                        </span>
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <div class="hospital-address">
        <div class="hospital-address-header">
            위치
        </div>
        <div class="hospital-address-body">
            <div id="hospital-address">
                <span id="hospital_x" th:value="${hospital.xCoordinate}" hidden="hidden"></span>
                <span id="hospital_y" th:value="${hospital.yCoordinate}" hidden="hidden"></span>
                <div class="hospital-address-text"><i class="far fa-map"></i><span
                        th:text="${hospital.address}"></span></div>
            </div>
            <div id="map"></div>
        </div>
    </div>
    <div class="hospital-doctor">
        <div class="hospital-doctor-header">
            의사
        </div>
        <div class="hospital-doctor-body">
            <div class="card" th:each="doctor:${doctorList}">
                <table>
                    <tr>
                        <td>
                            <div class="doctor-image">
                                <img th:if="${doctor.doctorProfileImage eq null}" th:src="@{/img/doctor.jpeg}"
                                     alt="Basic Doctor Image"/>
                                <img th:unless="${doctor.doctorProfileImage eq null}"
                                     th:src="@{/images/} + ${doctor.doctorProfileImage}"
                                     alt="Doctor Image"/>
                            </div>
                        </td>
                        <td class="doctor-name">
                            <p th:text="${doctor.name}">의사 이름</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="hospital-review">
        <div class="hospital-review-header">
            리뷰
            <div>(<span th:text="${#lists.size(reviewList)}"></span>)</div>
        </div>
        <div th:if="${#lists.size(reviewList) != 0}">
            <div id="hospital-review-list">
                <div class="hospital-review-item" th:each="review:${reviewList}">
                    <div class="card">
                        <div class="card-body">
                            <div class="review-content-header">
                                <div class="review-writer" th:text="${review.memberName}">김*진</div>
                                <div class="review-date" th:text="${review.writeDate}">11월 29일</div>
                            </div>
                            <div class="review-rate">
                                <i th:each="num : ${#numbers.sequence(1,review.starRating)}" class="fa-solid fa-star"
                                   style="color: #ffd500;"></i>
                                <i th:if="${review.starRating} != 5 "
                                   th:each="num : ${#numbers.sequence(1,5 -review.starRating)}"
                                   class="fa-regular fa-star"
                                   style="color: #ffd500;"></i>
                            </div>
                            <div class="review-content" th:text="${review.content}">선생님이 친절해요 갈 때마다 꼼꼼히 봐주세요</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.size(reviewList) == 0}">
            <div class="card">
                <div class="card-body">
                    <div class="review-content-header">
                        <div class="review-writer">리뷰가 존재하지 않습니다.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bbung">

    </div>

    <div class="container-fluid fixed-bottom text-center mobile-nav-bottom" th:fragment="hospitalBottom">
        <div class="reservation-button-place">
            <button><a th:href="@{/hospital/{hospitalSeq}/appointments(hospitalSeq=${hospital.hospitalSeq})}">예약하기</a>
            </button>
        </div>
    </div>
</main>

<div layout:fragment="custom_js">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=94f24e5f0005b6370e2d84c0ca7c24d7"></script>
    <script th:inline="javascript" src="/js/hospital-details.js"></script>
</div>
</body>
</html>